/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../assets/images/background/bg_robot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #333;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.header-container img {
    max-width: 150px;
    height: 80px;
}

.header-container img:first-child {
    margin-right: auto;
}

.header-container img:last-child {
    margin-left: auto;
}

nav {
    background-color: #1b84b5;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}

nav a, nav button {
    padding: 9px;
    margin: 10px;
    border: solid black 3%;
    background-color: #333;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font: inherit; /* Garante que ambos usem a mesma fonte */
    text-align: center; /* Centraliza o texto no botão */
    line-height: 1; /* Ajusta o espaçamento vertical */
    display: inline-block; /* Faz com que o botão se comporte como o link */
}

nav button {
    border: none; /* Remove bordas padrões do botão */
    appearance: none; /* Remove estilos padrões adicionais */
}

nav a:hover, nav button:hover {
    background-color: #555;
    border-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
    margin-top: auto;
}

#left {
    flex: 1 1 40%; /* flex-grow: 1, flex-shrink: 1, flex-basis: 40% */
    padding: 20px;
}

#right {
    flex: 2 1 60%; /* flex-grow: 2, flex-shrink: 1, flex-basis: 60% */
    padding: 20px;
}
/* Estilos para o conteúdo principal */
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.hello{
    text-align: center;
    padding-bottom: 10px;
}

#photo-div{
    text-align: center;
    margin-top: 40px;
}

#photo {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
}

#info {
    margin-top: 80px;
    padding: 10px;
    box-shadow: #007BFF 0px 0px 5px;
    border-radius: 10%;
} #social-medias{
    display: flex;
    justify-content: space-between;
} #social-medias img{
    height: 40px;
    padding: 5px;
    filter: drop-shadow(0 0.3rem 0.50rem rgba(0, 0, 0, 0.9));
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Estilos adicionais */
#text  {
    margin-top: 20px;
    font-family: cursive;
    text-shadow: 0 0 12px rgb(128, 128, 128);
}

#list {
    font-family: cursive;
    display: flex;
}

#list .listagem {
    text-shadow: 0 0 12px rgb(128, 128, 128);
}

#list .html {
    text-shadow: 0 0 12px orange;
}

#list .css {
    text-shadow: 0 0 12px rgb(22, 197, 255);
}

#list .js {
    text-shadow: 0 0 12px yellow;
}

#list .c {
    text-shadow: 0 0 12px rgb(0, 255, 34);
}

#list .php {
    text-shadow: 0 0 12px rgb(212, 0, 255);
}

#list .sql {
    text-shadow: 0 0 12px blue
}
#robot-box{
    display: flex;
    justify-content: right;
}
#robot {
    max-width: 150px;
    max-height: auto;
    margin-left: 25%;
}


/*---------------------------------------------*/

/* Estilos para o formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset.box-form {
    border: none;
    z-index: 1;
    box-shadow: #333 0px 0px 10px;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset.box-form div {
    display: flex;
    flex-direction: column;
}

fieldset.box-form input,
fieldset.box-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: large;
}

#phone-field{
    display: flex;
    flex-direction: row;
    padding: 10px;
} #phone-field .left, .right{
    margin: 1%;
}

fieldset.box-form .submit {
    display: flex;
    justify-content: center;
}

fieldset.box-form button.text-button {
    padding: 10px 20px;
    background-color: #1b84b5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    resize: none;
    height: 160px;
    font-size: x-large;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}


/* Estilos da Página de Projetos */
#box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 2% 0% 2% 0%;
}

#box-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}



#text-proj  {
    margin: 20px 0px 20px 30px;
    font-family: cursive;
    text-shadow: 0 0 12px rgb(128, 128, 128);
}



#photo-project {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 0;
    justify-content: center;
} #buttons button:hover {
    box-shadow: #333 3px 3px 3px;
}

#project-info-container {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    text-shadow: 0 0 12px rgb(128, 128, 128);
    text-align: center;
    justify-content: center;
}

#project-info-container .title {
    margin: 5%;
    margin-top: 4%;
    font-size: x-large;
}

.project-image {
    margin-right: 5px;

    width: 100%;
    height: auto;
    max-width: 400px;
}

#project-info-container .description {
    margin: 5%;
    margin-top: 8%;
    font-size: x-large;
}

.link {
    padding: 10px 20px;
    margin: auto;
    text-decoration: none;
    max-width: min-content;
    text-align: center;
    border: solid black 1px;
    background-color: #333;
    color:#ffffff;
} .link:hover{
    box-shadow: #333 3px 3px 3px;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .content, #contents {
        flex-direction: column;
        align-items: center;
    }

    #left, #right {
        width: 100%;
    }

    #photo {
        max-width: 200px;
    }

    .header-container img {
        max-width: 100px;
        height: auto;
    }

    #phone-field {
        flex-direction: column;
        align-items: left;
        
    } #phone-field select{
        max-width: 30%;
    }

    fieldset.box-form {
        padding: 10px;

    }
}

@media (max-width: 480px) {
    button, .link {
        width: 100%;
        box-sizing: border-box;
    }

    .header-container img {
        max-width: 80px;
    }

    nav {
        height: auto;
    }
}
